@import "tailwindcss";

@theme {
  --font-family-display: "Satoshi", "system-ui", "sans-serif";
  --color-accent: #646cff;
  --color-accent-hover: #535bf2;
  --color-vue-green: #42b883;
}

/* Base styles */
@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
